.section1 {
  width: 100%;
  height: 100vh;
  background: url(../../assets/one\ community.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  position: relative;
}
.section1 img {
  position: absolute;
  width: 30%;
  right: 8%;
}
/* Section 2 starts here */
.section2 {
  width: 100%;
  height: auto;
  margin-top: 50px;
  position: relative;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  font-weight: 100;
}

.section2-title {
  margin-top: 100px;
  padding: 40px 60px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  font-family: "Montserrat";
  border-radius: 300px;
  border: 1px solid gold;
  color: black;
  z-index: 3;
}
.section2-title h1 {
  font-weight: 100;
}

.subhead {
  font-family: "Pluma";
  margin-top: 30px;
}
.subhead h1 {
  font-size: 50px;
  font-style: italic;
  color: #133a8d;
  margin-bottom: 20px;
}
.subhead-span {
  color: black;
}

.background-image1 {
  position: absolute;
  width: 500px;
  height: auto;
  top: -7%; /* Adjust positions */
  left: 10%;
}
.background-image2 {
  position: absolute;
  width: 400px;
  height: auto;
  top: -2%; /* Adjust positions */
  right: 12.5%;
}

.disaster-image-container {
  position: relative;
  border-radius: 50px;
  width: 55%;
  height: 50vh;
  overflow: hidden;
}
.disaster-image-container img {
  width: 100%;
}

/* Section 3 starts here */
.section3 {
  width: 100%;
  padding-top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}
.section3-title {
  padding-left: 50px;
  font-size: 60px;
  font-weight: 600;
  font-style: italic;
}
.section3-title .donation {
  color: gold;
}
.section3-title .for {
  color: #082053;
}
.section3-title .call {
  color: #133a8d;
}
.section3-subtitle {
  font-family: "montserrat";
  font-size: 20px;
  font-weight: 100;
  padding-left: 50px;
}
/* Container for the card layout */
.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
  color: white;
  height: auto;
}

/* Card styling */
.card {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  margin: 10px 50px;
  background-color: #f1f1ea;
  color: black;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: 0.5s;
}

/* Container for the image */
.card .picture-container {
  width: 15%;
  padding: 10px;
}

/* Card body styling */
.card-body {
  padding: 10px;
  font-family: "Glacial";
}

/* Image styling */
.card img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

/* Progress bar styling */
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #162f65;
  border-radius: 20px;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar .progress {
  width: 50%; /* Adjust this width based on your progress */
  height: 100%;
  background-color: #e1a736;
  border-radius: 5px;
}
.amount-raised {
  padding-top: 30px;
  font-family: "montserrat";
}

.section4 {
  width: 100%;
  height: 60vh;
}
.section4-container {
  width: 95%;
  height: 50vh;
  display: flex;
  flex-direction: row;
}
.section4-container h1 {
  font-family: "montserrat";
  font-weight: 100;
}
.section4-image-container {
  width: 30%;
}

.section4-image-container img {
  width: 100%;
}
.section4-text-container-header {
  justify-self: left;
  font-size: 60px;
  font-style: italic;
  margin-bottom: 30px;
}
.section4-text-container {
  width: 70%;
  padding: 50px;
  text-align: justify;
}
.section4-text-container .donation {
  color: gold;
}
.section4-text-container .for {
  color: #082053;
}
.section4-text-container .call {
  color: #133a8d;
}
/* Container for the card layout */
.section4-card {
  margin-top: 20px;
  width: 100%;
  background-color: #f1f1ea;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* Container for the image */
.section4-card-image {
  overflow: hidden;
  width: 15%;
  height: 20%;
  object-fit: contain;
}

/* Image styling */
.section4-card-image img {
  width: 130px;
  height: 13vh;
  transform: scale(0.9);
  border-radius: 50%;
  object-fit: cover;
}

/* Card body styling */
.section4-card-body {
  padding-left: 30px;
  width: 100%;
}

/* Status bar styling */
.status-bar {
  background-color: #162f65;
  width: 100%;
  height: 3vh;
  border-radius: 50px;
  margin: 10px 0;
}
.section4 .progress-bar {
  height: 25px;
}

.section5 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-self: center;
  overflow: hidden;
}
.section5-text-container {
  width: 100%;
  color: gold;
  font-size: 25px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.section5-text-container h1 {
  font-family: Cedarville Cursive;
  padding: 0px 200px;
}
.section5-subhead-container {
  font-size: 50px;
  font-style: italic;
}
.call {
  color: #133a8d;
}
.for {
  color: #082053;
}
.goods {
  color: gold;
}

.donation-image-container {
  width: 50%;
  height: 25vh;
  position: relative;
  display: flex;
  text-align: center;
}

.donation-image-container img {
  object-fit: cover;
  position: absolute;
  width: 150%;
  height: auto;
  bottom: -275%;
  left: 30%;
}

.donation-button {
  width: 35%;
  height: auto;
  padding: 30px 50px;
  position: absolute;
  left: 33%;

  top: 450%;
  border: solid 1px;
}
