/* Navbar container */
.navbar {
  width: 100vw;
  max-height: 80px;
  top: 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #162f65; /* Primary color */
  color: white; /* Tertiary color */
  justify-content: space-around;
  align-items: center;
  z-index: 999999;
}

/* Navbar logo */
.logo {
  width: 100px;
}

.logo img {
  width: 100%;
  transform: scale(2);
}

/* Navbar links */
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: rgb(195, 0, 255);
  cursor: pointer;
  text-decoration: underline;
}

li {
  list-style-type: none;
}

/* Search container */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px 40px; /* Padding to fit the icon */
  border-radius: 30px;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgb(255, 255, 255);
}

.search-input:hover {
  color: white;
}

.search-input:active {
  color: white;
}

/* Search icon */
.search-icon {
  position: absolute;
  left: 10px;
  color: #aaa; /* Adjust color as needed */
}

/* Responsive design */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }

  ul {
    display: none;
  }
}
